.profile-modal {
    position: fixed; /* 고정 위치 */
    top: 0; /* 화면 상단에 위치 */
    left: 0; /* 화면 왼쪽에 위치 */
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex; /* 중앙 정렬을 위한 flexbox 사용 */
    flex-direction: column  /* 세로 정렬 */;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

.modal-content {
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
    background-color: #E6E7FF; /* 모달 배경색 */
    border: 5px solid #9FADF5; /* 테두리 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
}