.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.nav-bar {
    background-color: aqua;
    width: 100%;
    height: 272px;
}

.freeboard {
    height: auto;
    width: 1078px;
    display: flex;
    flex-direction: column;
    height: auto;
    border: 10px solid #e0e0e0;
}

.freeboard-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.freeboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.search-box {
    width: 70%;
    height: 36px;
}

.write-botton {
    background-color: #F9F3CC;
    width: 10%;

}

.freeboard-body {
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.Listcomponent {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 5px;
    border: 2px solid #53759B; 
    width: 100%;
    height: 48px;
}