.container {
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar {
    position: fixed;
    width: 100%;
    top:0;
}

.navbar__logo {
    width: 100%;
    height: 250px;
    z-index: 1000;
    background-image: linear-gradient(to right, rgba(249,243,204,1), rgba(210,224,251,1));
}

.navbar__login {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3%;
    gap: 3%;
    color:rgba(83,117,155,1);
}

.navbar__login p:hover {
    font-weight: 700;
    cursor: pointer;
}

.navbar__quipu h1 {
    text-align: center;
    font-family: "Kreon", serif;
    font-weight: 900;
    font-size: 80px;
    line-height: 75.6px;
    color: rgba(83,117,155,1);
    -webkit-text-stroke: 1.5px whitesmoke;
    text-shadow: 4px 1px 4.4px rgba(0, 0, 0, 0.25);
}

.navbar__menu {
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255,255,255,0.015)
        ,rgba(255,255,255,0.6408), rgba(255,255,255,1));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    z-index: 1001;

    position: relative;
    bottom: 120px;
}

.navbar__menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    width: 100%;

    position: relative;
    right: 15px;
}

.navbar__menu li a {
    border: 2px solid rgba(83,117,155,1);
    text-decoration: none;
    color: rgba(47, 78, 113, 1);
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 3px;
    padding-bottom: 3px;

    @media (max-width: 690px) {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.navbar__menu--gallery li a {
    padding-left: 54px;
    padding-right: 54px;

    @media (max-width: 690px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar__menu li a:hover {
    background-color: rgba(249,243,204,1) !important;
}