#root,
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  font-family: 'SUIT-Regular';
  font-family: "Kreon", 'SUIT-Regular', serif;
}

div,
input,
textarea {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+AC00-U+D7A3;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+AC00-U+D7A3;
}

@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');